<div class="menu">
    <ul>
        <li class="menu_element"><a href="/uplaud" >UPLAUD</a></li>
        <li class="menu_element"><a href="/filemanager" >FILEMANEGER</a></li>
        <li class="menu_element"><a href="/info" >INFO</a></li>
    </ul>
</div>
<div class="side_menu">
    <p>file info</p>
</div>
<div class="content">
    <ul>
        <li>id: {{id}}</li>
        <li>name: {{name}}</li>
        <li>path: {{path}}</li>
        <li>size: {{size}}</li>
        <li>type: {{type}}</li>
        <li>savedata: {{savedata}}</li>
    </ul>
</div>